# Note for Lab 1
`by Yurii Voievidka`

### Import libs

In [1]:
import pandas as pd

### Read the data from CSV files

In [2]:
train_raw = pd.read_csv('./hourly_wages_data.csv')

In [3]:
train_raw.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [4]:
train_X = train_raw.drop(columns='wage_per_hour', axis=1)

In [5]:
train_X.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [6]:
y = train_raw.loc[:,'wage_per_hour']
y.head()

0    5.10
1    4.95
2    6.67
3    4.00
4    7.50
Name: wage_per_hour, dtype: float64

### Building the model

In [7]:
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [8]:
model = Sequential()

2022-10-14 23:21:29.075412: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [9]:
n_cols = train_X.shape[1]

In [10]:
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

### Compilation

In [11]:
model.compile(optimizer='adam', loss='mean_squared_error')

### Leaning

In [12]:
from keras.callbacks import EarlyStopping
early_stopping_monitor = EarlyStopping(patience=3)

train, test_X = train_test_split(train_X, test_size=0.2)
model.fit(train, y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
11/11 [==============================] - 0s 10ms/step - loss: 29.4022 - val_loss: 19.2594
Epoch 2/30
11/11 [==============================] - 0s 3ms/step - loss: 27.6372 - val_loss: 16.4089
Epoch 3/30
11/11 [==============================] - 0s 3ms/step - loss: 27.0265 - val_loss: 17.5266
Epoch 4/30
11/11 [==============================] - 0s 3ms/step - loss: 26.7083 - val_loss: 18.8689
Epoch 5/30
11/11 [==============================] - 0s 3ms/step - loss: 26.4911 - val_loss: 17.2760

In [13]:
predictions = model.predict(test_X)

4/4 [==============================] - 0s 875us/step

## Performing New Model Capacity

In [14]:
model_mc = Sequential()

In [15]:
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

In [16]:
model_mc.compile(optimizer='adam', loss='mean_squared_error')

In [17]:
model_mc.fit(train_X, y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
14/14 [==============================] - 0s 8ms/step - loss: 42.7499 - val_loss: 57.5810
Epoch 2/30
14/14 [==============================] - 0s 3ms/step - loss: 22.4303 - val_loss: 37.0317
Epoch 3/30
14/14 [==============================] - 0s 3ms/step - loss: 20.2617 - val_loss: 31.9210
Epoch 4/30
14/14 [==============================] - 0s 3ms/step - loss: 20.1496 - val_loss: 39.4995
Epoch 5/30
14/14 [==============================] - 0s 3ms/step - loss: 19.5864 - val_loss: 34.6234
Epoch 6/30
14/14 [==============================] - 0s 3ms/step - loss: 19.3036 - val_loss: 30.4343
Epoch 7/30
14/14 [==============================] - 0s 3ms/step - loss: 20.5870 - val_loss: 29.5619
Epoch 8/30
14/14 [==============================] - 0s 3ms/step - loss: 19.2600 - val_loss: 29.2387
Epoch 9/30
14/14 [==============================] - 0s 3ms/step - loss: 18.9007 - val_loss: 33.8384
Epoch 10/30
14/14 [==============================] - 0s 3ms/step - loss: 18.7867 - val_loss: 29.4093
Epoch 11/30
14/14 [==============================] - 0s 3ms/step - loss: 18.9523 - val_loss: 32.2663

## Model Classification

In [18]:
train_raw = pd.read_csv('diabetes_data.csv')
train_raw.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [19]:
train_X = train_raw.drop(columns=['diabetes'])
y = train_raw['diabetes']

In [20]:
from keras.utils import to_categorical

In [21]:
train_y_2 = to_categorical(train_raw['diabetes'])
print(train_y_2[0:5])

[[0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]]

In [22]:
model_2 = Sequential()

In [23]:
n_cols_2 = train_X.shape[1]

In [24]:
model_2.add(Dense(200, activation='relu', input_shape=(n_cols_2,)))
model_2.add(Dense(200, activation='relu'))
model_2.add(Dense(200, activation='relu'))
model_2.add(Dense(2, activation='softmax'))

In [25]:
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [26]:
model_2.fit(train_X, train_y_2, epochs=30, validation_split=0.2, callbacks=[early_stopping_monitor])

Epoch 1/30
20/20 [==============================] - 0s 7ms/step - loss: 1.5737 - accuracy: 0.6205 - val_loss: 0.7188 - val_accuracy: 0.6623
Epoch 2/30
20/20 [==============================] - 0s 2ms/step - loss: 0.7740 - accuracy: 0.6336 - val_loss: 0.8061 - val_accuracy: 0.5714
Epoch 3/30
20/20 [==============================] - 0s 2ms/step - loss: 0.7037 - accuracy: 0.6629 - val_loss: 0.7426 - val_accuracy: 0.6364
Epoch 4/30
20/20 [==============================] - 0s 2ms/step - loss: 0.6710 - accuracy: 0.6726 - val_loss: 0.8187 - val_accuracy: 0.5909

In [32]:
preds = model_2.predict(train_X)
print(preds[:5])

24/24 [==============================] - 0s 806us/step
[[0.07387292 0.9261271 ]
 [0.42615414 0.57384586]
 [0.00938538 0.99061465]
 [0.85782903 0.142171  ]
 [0.3594834  0.64051664]]