# Lab 1
`By Yurii Voievidka`

## Task 1

In [1]:
import pandas as pd

In [2]:
train_raw = pd.read_csv('hourly_wages_data.csv')
X = train_raw.drop(columns=['wage_per_hour'])
y = train_raw['wage_per_hour']

In [3]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.33, random_state=1) ## 0.33 * 0.3 = 0.1 for test

In [4]:
## Scaling and Normalization
from scipy import stats

# for min_max scaling
from mlxtend.preprocessing import minmax_scaling

# plotting modules
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
X_train.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
106,1,14,21,41,0,1,0,0,0
189,0,18,14,38,1,1,0,0,0
504,0,17,10,33,1,0,0,0,0
477,0,18,27,51,0,1,0,0,0
350,0,2,16,24,0,0,0,0,0

In [6]:
## Scaling

# scaled_X = minmax_scaling(y_train, columns=['wage_per_hour'])
# ax = sns.histplot(scaled_X, kde=True)
# ax.set_title('Scaled wages')
# ax.show()

In [7]:
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
early_stopping_monitor = EarlyStopping(patience=3)

model = Sequential()
n_cols = X_train.shape[1]

model.add(Dense(200, activation='relu', input_shape=(n_cols, )))
model.add(Dense(200, activation='relu'))
model.add(Dense(200, activation='relu'))
model.add(Dense(1))

2022-10-16 17:44:49.230624: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [13]:
model.compile(optimizer='adam', loss='mean_squared_error')

In [20]:
model.fit(X_train, 
          y_train, 
          validation_split=0.0, 
          validation_data=(X_val, y_val),
          epochs=30, 
          callbacks=[early_stopping_monitor])

Epoch 1/30
12/12 [==============================] - 0s 13ms/step - loss: 21.6080 - val_loss: 19.2003
Epoch 2/30
12/12 [==============================] - 0s 3ms/step - loss: 21.5111 - val_loss: 20.4737
Epoch 3/30
12/12 [==============================] - 0s 3ms/step - loss: 21.1396 - val_loss: 19.3001
Epoch 4/30
12/12 [==============================] - 0s 3ms/step - loss: 21.4496 - val_loss: 19.8250

In [18]:
model.predict(X_test)

4/4 [==============================] - 0s 1ms/step

array([[ 6.9910913],
       [12.716263 ],
       [10.281483 ],
       [ 3.8815782],
       [ 7.1920066],
       [10.026417 ],
       [ 5.3114405],
       [10.287465 ],
       [12.173947 ],
       [ 8.01795  ],
       [ 9.36623  ],
       [13.545427 ],
       [ 7.5752707],
       [ 7.676775 ],
       [ 4.7771416],
       [ 5.7619276],
       [ 4.2122693],
       [ 7.896549 ],
       [ 5.254123 ],
       [12.006744 ],
       [ 7.807425 ],
       [ 9.721127 ],
       [ 5.869656 ],
       [11.624999 ],
       [ 6.2168145],
       [ 5.604036 ],
       [ 6.619551 ],
       [11.391342 ],
       [ 9.313694 ],
       [ 9.102544 ],
       [ 9.067106 ],
       [11.137327 ],
       [ 6.7951202],
       [ 9.001675 ],
       [ 9.695916 ],
       [14.48348  ],
       [10.258003 ],
       [ 7.1617284],
       [ 5.4300423],
       [ 7.092858 ],
       [ 7.6029286],
       [ 7.572657 ],
       [ 3.9487574],
       [ 6.2529187],
       [ 9.140731 ],
       [ 7.086826 ],
       [ 6.2863507],
       [ 4.9838347],
       [12.158523 ],
       [ 9.6177   ],
       [ 8.523312 ],
       [ 9.097598 ],
       [ 5.883308 ],
       [10.510539 ],
       [ 5.3225183],
       [ 9.137985 ],
       [ 5.5354824],
       [ 7.3206615],
       [ 6.191293 ],
       [ 5.6579537],
       [ 8.849417 ],
       [ 5.816812 ],
       [10.19179  ],
       [10.418532 ],
       [ 7.645181 ],
       [ 6.0730987],
       [ 7.617158 ],
       [ 5.5163164],
       [ 7.8775077],
       [ 7.789581 ],
       [ 7.6405954],
       [ 8.365517 ],
       [ 9.531504 ],
       [ 9.728388 ],
       [ 7.875686 ],
       [ 6.7645106],
       [ 7.2758546],
       [ 5.4413342],
       [ 8.939569 ],
       [ 5.754437 ],
       [ 7.718578 ],
       [ 9.336161 ],
       [ 9.7425785],
       [ 8.355929 ],
       [ 7.572031 ],
       [ 7.801019 ],
       [ 9.213242 ],
       [ 8.120215 ],
       [ 4.9416966],
       [ 6.699104 ],
       [ 5.5756507],
       [ 6.2507334],
       [ 7.3686805],
       [ 5.5825768],
       [ 7.199226 ],
       [ 8.1703615],
       [ 9.647028 ],
       [ 6.699122 ],
       [ 7.333833 ],
       [10.622354 ],
       [ 9.930241 ],
       [ 9.899771 ],
       [ 5.6773334],
       [ 7.6029296],
       [ 9.106741 ],
       [ 6.0308604],
       [ 7.801018 ]], dtype=float32)

## Task 2

In [35]:
from keras.utils import to_categorical

In [39]:
train_raw = pd.read_csv('./hourly_wages_data.csv')
X = train_raw.drop(columns=['female'])
y = train_raw['female']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.33, random_state=1) ## 0.33 * 0.3 = 0.1 for test

In [40]:
y_train_2 = to_categorical(train_raw['female'])
print(y_train_2[:5])

[[0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]]

In [41]:
model_2 = Sequential()

In [44]:
n_cols_2 = X_train.shape[1]